@import "tailwindcss";

@theme {
    --font-primary: "Inter", sans-serif;
    --font-display: "Wix Madefor Display", sans-serif;
    --font-secondary: "IBM Plex Mono", monospace;
    --font-fancy: "Style Script", cursive;
  }


::-webkit-scrollbar{
  display: none;
}

html{
  scrollbar-width: none;
  
}

body{
  margin: 0;
  padding: 0;
}