@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import "tailwindcss";

@theme {
    --font-primary: "Inter", sans-serif;
    --font-display: "Wix Madefor Display", sans-serif;
    --font-secondary: "IBM Plex Mono", monospace;
    --font-fancy: "Style Script", cursive;
  }


::-webkit-scrollbar{
  display: none;
}

html{
  scrollbar-width: none;
  
}

body{
  margin: 0;
  padding: 0;
}